html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  background: #202225;
  color: #FFF;
  overflow: hidden; }

.github {
  position: absolute;
  text-transform: capitalize;
  font-weight: bold;
  bottom: 0;
  right: 0;
  background: #202225;
  color: #FFFFFF80;
  text-decoration: none;
  padding: 10px; }
  .github:hover {
    color: #FFF; }

#login {
  background-color: #7289DA;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  padding: 15px 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF !important; }

#loaded {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 580px auto;
  grid-template-rows: 200px 70px auto;
  grid-template-areas: "user guilds" "guildinspect guilds" "connections guilds"; }
  #loaded #user {
    display: block;
    grid-area: user;
    width: 100%;
    height: 100%;
    background-color: #2f3136; }
    #loaded #user .udata {
      line-height: 128px;
      height: 128px;
      margin: 20px 20px 20px 20px; }
      #loaded #user .udata .userpfp {
        position: relative;
        border-radius: 1000px;
        height: 128px; }
      #loaded #user .udata .uinfo {
        margin-left: 30px;
        display: inline-block;
        line-height: 20px; }
        #loaded #user .udata .uinfo .usertag {
          display: block; }
          #loaded #user .udata .uinfo .usertag .username {
            font-size: 30px; }
          #loaded #user .udata .uinfo .usertag .desc {
            font-size: 15px;
            opacity: .4; }
        #loaded #user .udata .uinfo .extra {
          margin-top: -8px; }
          #loaded #user .udata .uinfo .extra #userid {
            font-size: 12px;
            opacity: .4; }
          #loaded #user .udata .uinfo .extra #useremail {
            font-size: 12px;
            opacity: .4; }
            #loaded #user .udata .uinfo .extra #useremail::before {
              content: "- "; }
        #loaded #user .udata .uinfo .usermfa {
          display: inline-block;
          margin-right: 5px; }
          #loaded #user .udata .uinfo .usermfa.enabled {
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-size: 15px;
            padding: 10px 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: #FFF !important;
            background-color: #43b581;
            vertical-align: middle; }
          #loaded #user .udata .uinfo .usermfa.disabled {
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-size: 15px;
            padding: 10px 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: #FFF !important;
            display: inline-block;
            background-color: #f04747;
            vertical-align: middle; }
        #loaded #user .udata .uinfo #logout {
          background-color: #7289DA;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          font-size: 15px;
          padding: 10px 20px;
          font-weight: bold;
          text-transform: uppercase;
          color: #FFF !important;
          vertical-align: middle; }
  #loaded #connections {
    grid-area: connections;
    display: inline-block;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: #2f3136; }
    #loaded #connections .connection {
      padding: 10px;
      display: inline-block;
      width: auto;
      margin: auto;
      width: calc((100% / 2) - 45px);
      margin: 10px;
      border: 1px solid #202225;
      border-radius: 3px; }
      #loaded #connections .connection .type {
        text-transform: uppercase;
        display: block; }
        #loaded #connections .connection .type::after {
          content: ":"; }
      #loaded #connections .connection img {
        vertical-align: middle; }
  #loaded #guilds {
    grid-area: guilds;
    display: block;
    overflow: auto;
    height: 100%;
    width: 100%; }
    #loaded #guilds .guild {
      margin: 10px 10px;
      display: inline-block; }
    #loaded #guilds img, #loaded #guilds .img {
      position: relative;
      height: 80px;
      width: 80px;
      border-radius: 100px;
      display: inline-block;
      vertical-align: middle;
      background: #2f3136; }
      #loaded #guilds img span, #loaded #guilds .img span {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 24px;
        transform: translate(-50%, -50%); }
  #loaded #guildinspector {
    background-color: #2f3136; }
    #loaded #guildinspector img, #loaded #guildinspector .img {
      position: relative;
      display: inline-block;
      border-radius: 1000px;
      height: 50px;
      width: 50px;
      background: #202225;
      vertical-align: middle;
      margin: 10px 20px; }
      #loaded #guildinspector img span, #loaded #guildinspector .img span {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 18px;
        transform: translate(-50%, -50%); }
    #loaded #guildinspector .name {
      display: inline-block;
      font-size: 25px;
      width: calc(100% - 125px);
      height: 25px;
      padding: 2.5px 5px; }
      #loaded #guildinspector .name .owner {
        height: 25px;
        width: 25px;
        background: transparent; }

